.vs/
.git/
release/
!release/
release/*
!release/pac.bat
!release/7z.exe
!release/7z.dll

reference/
!reference/
next/_run/
next/_run)
next/Core)
next/x64/
next/TigerClaw.Hook.Native/x64/
.dotnet/
.dotnet_cli/
.dotnet_home/
_dotnet_home_tmp/

**/bin/
**/obj/
**/.tmpobj/
**/*.user
**/*.suo
**/*.pdb
**/*.log
**/*.exp
**/*.lib

BimeTSF2/SampleIME/Debug/
BimeTSF2/SampleIME/Release/
BimeTSF2/SampleIME/x64/
BimeTSF2/SampleIME/BimeTSF2/
BimeTSF2/doc/uiless/meow-uiless.exe

config.txt
states.json
uninstall.log
out.txt
_tmp_core.txt
